services:
  server:
    build:
      context: ../../server
    restart: always
    environment:
      - TZ=Asia/Shanghai

      # 使用 sqlite
      - DRIVER_NAME=sqlite
      - DATASOURCE=postgres://root:123456@postgres:5432/jzero-admin

#      # 使用 mysql
#      - DRIVER_NAME=mysql
#      - DATASOURCE=root:123456@tcp(mysql:3306)/jzero-admin?charset=utf8mb4&parseTime=True&loc=Local

#      # 使用 postgres
#      - DRIVER_NAME=pgx
#      - DATASOURCE=postgres://root:123456@postgres:5432/jzero-admin

      # 使用 miniredis(内存)
      - REDIS_MINI_REDIS=true

#      # 使用 redis
#      - REDIS_HOST=redis:6379
  web:
    build:
      context: ../../web
    restart: always
    depends_on:
      - server
    volumes:
      - ./nginx:/etc/nginx/conf.d
    environment:
      - TZ=Asia/Shanghai
      - VITE_SERVICE_BASE_URL=http://127.0.0.1
    ports:
      - "80:80"
  postgres:
    image: postgres
    restart: always
    container_name: jzero-admin-postgres
    environment:
      TZ: Asia/Shanghai
      POSTGRES_PASSWORD: 123456
      POSTGRES_USER: root
      POSTGRES_DB: jzero-admin
    volumes:
      - ./postgres/data:/var/lib/postgres/data
    ports:
      - "5432:5432"
  mysql:
    image: mysql:8.0
    restart: always
    container_name: jzero-admin-mysql
    environment:
      - TZ=Asia/Shanghai
      - MYSQL_ROOT_PASSWORD=123456
      - MYSQL_ROOT_USER=root
      - MYSQL_DATABASE=jzero-admin
    volumes:
      - ./mysql/config:/etc/mysql/conf.d
      - ./mysql/data:/var/lib/mysql
    ports:
      - "3306:3306"
  redis:
    image: redis:latest
    restart: always
    container_name: jzero-admin-redis
    ports:
      - "6379:6379"